.testpop {
   margin: auto;
   position: fixed;
   width: 20vw;
   height: 10vh;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-self: center;
   margin-top: -20vh;
   /* margin-left: 2vw; */
   z-index: 9999999999999999;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 10px;
   opacity: .3;
   display: flex;
   animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.popup-content {
   flex: 1;
   margin: auto;
   display: flex;
   /* text-align: center; */
   justify-content: center;
   align-self: center;
   color: white;
   font-size: 1vw;
}

.p1 {
   padding-top: 2.5%;
}

.social-links {
        text-emphasis: none;
text-decoration: none;
color: rgb(0, 255, 255);
}
/* *
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ---------------------------------------- */
@-webkit-keyframes slide-in-blurred-bottom {
   0% {
     -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
             transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
     -webkit-transform-origin: 50% 100%;
             transform-origin: 50% 100%;
     -webkit-filter: blur(40px);
             filter: blur(40px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateY(0) scaleY(1) scaleX(1);
             transform: translateY(0) scaleY(1) scaleX(1);
     -webkit-transform-origin: 50% 50%;
             transform-origin: 50% 50%;
     -webkit-filter: blur(0);
             filter: blur(0);
     opacity: 1;
   }
}
@keyframes slide-in-blurred-bottom {
   0% {
     -webkit-transform: translateY(300px) scaleY(2.5) scaleX(0.2);
             transform: translateY(300px) scaleY(2.5) scaleX(0.2);
     -webkit-transform-origin: 50% 100%;
             transform-origin: 50% 100%;
     -webkit-filter: blur(40px);
             filter: blur(40px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateY(0) scaleY(1) scaleX(1);
             transform: translateY(0) scaleY(1) scaleX(1);
     -webkit-transform-origin: 50% 50%;
             transform-origin: 50% 50%;
     -webkit-filter: blur(0);
             filter: blur(0);
     opacity: 1;
   }
 }
 