.background-img-and-top-flex-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;  
  height: 100vh;
  width: 100vw;
  animation: color-change-2x 3s linear infinite alternate both;
  background-color: rgb(56, 169, 197);
  z-index: -1;
}

.flex-content-container {
  position: relative;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.flex-container-to-center-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 999999;
  justify-content: center;
  align-items: center;
}

.flex-content {
  flex: 1;
  color: white;
  font-family: 'Poppins', sans-serif; 
  display: flex;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;  
  border-style: none; 
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  max-width: 10vw;
  min-width: 30vw;
  /* max-height: 5vh;; */
  /* border-style: solid; */
}

.hitbox {
  position: fixed;
  margin: auto;
  height: 15vh;
  top: 32vh;
  left: 31vw;
  width: 40vw;
  /* background-color: rgba(70, 33, 33, 0.24); */
  /* z-index: 999999999999; */
}

span {
  /* color: black; */
}

.highlight-character {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  /* pointer-events: none; */
}

.flex-content:nth-child(1) {
  letter-spacing: .2vw;
  flex: 3;

  /* -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand .7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */

  /* -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation: text-blur-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both; */

  -webkit-animation: bounce-in-top 1.5s both;
  animation: bounce-in-top 1.5s both;

  /* 
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
	animation: color-change-2x 2s linear infinite alternate both; */

  /* -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both; */

  margin-left: 3vw;
  text-align: center;
  color: rgb(0, 247, 255);
  font-size: 4vw;
}

.content-1-text {
  animation: color-change-2x 2s linear infinite alternate both;
  color: white !important;
}

.flex-content:nth-child(2) {
  margin-left: 4%;
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation: text-blur-out .6s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation-delay: 1s;
}

.flex-content:nth-child(3) {
  flex: .5;
  max-height: 1vh;
  margin-left: -4vw;
  /* margin-top: -5%; */
  /* margin-bottom: -5%; */
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation: text-blur-out 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation-delay: 1.15s;
  color: rgb(255, 255, 255);
  /* color: rgb(104, 104, 104); */

}

.flex-content:nth-child(4) {
  margin-left: 4%;  
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation: text-blur-out .6s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation-delay: 1.3s;
}

.content-3 {
  padding: 2%;
}

.content-5 {
  padding-top: 5%;
  font-size: 16px;
  min-width: fit-content;
}

 /**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

@keyframes shift-up {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-50px);
  }
}
/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    color: #b8e4d5;
  }
  100% {
    color: #bcdad0;  
  }
}

@keyframes glossy-sheen {
  0% {
    color: blue;
  }
  50% {
    color: white
  }
  100% {
    color: blue;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

